<header class="header">
  <span class="nav">
    <a class="logo" href="#">Everyday Cart</a>
    <button mat-button><a href="#categories">Shop</a></button>
    <button mat-button><a href="#bestsellers">Best sellers</a></button>
    <button mat-button><a href="#newarrivals">New arrivals</a></button>
  </span>
  <span class="app-nav">
    <button
      mat-icon-button
      routerLink="wishlist"
      matTooltip="Wish list"
      matTooltipClass="tooltip"
    >
      <span class="icon heart-icon"></span>
      @if(noOfFavItems > 0) {
      <p class="total-items">{{ noOfFavItems }}</p>
      }
    </button>
    <button
      mat-icon-button
      routerLink="cart"
      matTooltipClass="tool-tip"
      matTooltip="Shopping cart"
    >
      <span class="icon cart-icon"></span>
      @if(itemsInCart > 0) {
      <p class="total-items">{{ itemsInCart }}</p>
      }
    </button>
  </span>
</header>
