h2 {
  margin-bottom: 4rem !important;
}

section {
  padding: 6rem;
}

button {
  align-self: center;
}

.products-num {
  font-weight: 600;
  margin-bottom: 2rem;
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  justify-content: center;
}

.item {
  width: 23rem;
  border-radius: 0.5rem;
  border: 1px solid #dfe2e1;
  transition: all 0.3s;
  overflow: hidden;
}

.item:hover {
  border: 1px solid #e67700;
}

.item-deets {
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
  row-gap: 2.4rem;
  align-items: flex-start;
}

.item-availability {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image {
  width: 100%;
  background-size: cover;
}

.title {
  font-size: 1.6rem;
}

.action-btns {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  border-radius: 2px;
  padding: 0.4rem;
}

.price {
  display: flex;
  font-weight: 500;
  gap: 4px;
}

.price-quantity {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ratings {
  display: flex;
  align-items: center;
  gap: 2px;
}

.image-collections {
  height: 20rem;
  display: flex;
  justify-content: center;
}

.star-icon {
  background: url("/icons/star.svg") no-repeat center;
}

.half-star-icon {
  background: url("/icons/star-half.svg") no-repeat center;
}

.currency-icon {
  background: url("/icons/currency-rupee.svg") no-repeat center;
}

.price-tag-icon {
  background: url("/icons/price-tag.svg") no-repeat center;
}

.heart-add-icon {
  background: url("/icons/heart-add.svg") no-repeat center;
}

.heart-added-icon {
  background: url("/icons/heart-added.svg") no-repeat center;
}
