<mat-stepper #stepper>
  <mat-step [stepControl]="addressFormGroup" label="Address">
    <form [formGroup]="addressFormGroup" class="address-form">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="Last name, First name"
          formControlName="name"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone number</mat-label>
        <input
          matInput
          placeholder="+91...."
          formControlName="number"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input
          matInput
          placeholder="hi.here@gmail.com"
          formControlName="mail"
        />
      </mat-form-field>
      <p>Address</p>
      <mat-form-field>
        <mat-label>Flat, House no, Building, Company, Apartment</mat-label>
        <input
          matInput
          placeholder="D.no: 1-11"
          formControlName="houseNo"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Area, Street, Sector, Village</mat-label>
        <input matInput formControlName="area" required />
      </mat-form-field>
      <div class="grouped-deets">
        <mat-form-field>
          <mat-label>Landmark</mat-label>
          <input matInput formControlName="landmark" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Pincode</mat-label>
          <input
            matInput
            placeholder="666666"
            formControlName="pincode"
            required
          />
        </mat-form-field>
      </div>
      <div class="grouped-deets">
        <mat-form-field>
          <mat-label>Town/city</mat-label>
          <input matInput formControlName="city" required />
        </mat-form-field>
        <mat-form-field>
          <mat-label>State</mat-label>
          <input matInput formControlName="state" required />
        </mat-form-field>
        <div>
          <button mat-raised-button matStepperNext>Next</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="shippingMode" label="Shipping method">
    <mat-radio-group class="shipping-options" [formControl]="shippingMode">
      <mat-radio-button value="1">
        <p>Standard method</p>
        <p class="shipping-fee">Free</p>
        <p>Deliveres with in 6-7 working hours</p>
      </mat-radio-button>
      <mat-radio-button value="2">
        <p>Express method</p>
        <p class="shipping-fee">&#8377;150</p>
        <p>Deliveres with in 2-3 working hours</p>
      </mat-radio-button>
    </mat-radio-group>
    <div class="shipping-btns">
      <button mat-raised-button matStepperPrevious>Back</button>
      <button mat-raised-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Payment mode">
    <div class="payment-options">
      @for(mode of paymentOptions; track mode.id) {
      <div class="payment-option" routerLink="/success">
        <span class="payment-icon {{ mode.iconClass }}"></span>
        <span class="payment-option-text">
          <p>{{ mode.mainText }}</p>
          <p class="sub-text">{{ mode.subText }}</p>
        </span>
        <span class="total-amount">
          <p class="shipping-fee">&#8377;150</p>
          <p class="payment-icon right-icon"></p>
        </span>
      </div>
      }
    </div>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
